@import url('https://fonts.googleapis.com/css?family=Overpass');

* {
    margin: 0;
    padding: 0;
    font-family: 'Overpass';
}

body {
    background: #013243;
    min-width: 840px;
}

header {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    text-transform: uppercase;
}


/* BARRA DE NAVEGACAO */
#nav-container {
    text-align: center;
    background: #013243;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 50px;
}

#nav-container ul li {
    position: left;
    list-style: none;
    display: inline-block;
    padding: 1em;
}

#nav-container ul a {
    text-decoration: none;
    padding: 0.5em 1em;
    color: #fff;
}

#nav-container ul a:hover {
    color: #4dbde5;
}

/* CONTEUDO */
#conteudo {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding-top: 4em;
    padding-bottom: 1em;
    text-align: center;
}

#conteudo img{
    max-width: 560px;
}


#conteudo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#conteudo-container h1 {
    padding-top: 0.6em;
}

#alerta-arquivo {
    transition: 2s all;
    text-align: center;
    border: 1px solid red;
    border-radius: 4px;
    background: rgb(245, 122, 122);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2em 0;
    margin-top: 7px;
}

input#fileselector {
    color: #013243;
}

#conteudo-container form {
    margin-top: 10px;
    margin-bottom: 20px;
}

.upload_img {
    background: #ddd;
    color: #aaa;
    display: block;
    border: 5px dashed;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
    padding: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn-upload {
    background: #013243;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    border-radius: 7px;
    padding: 0.5em 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-right: 80px;
}

button {
    background: #013243;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    border-radius: 7px;
    padding: 0.779em 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
}

.btn-upload:hover, 
button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

span.picture__image {
    border: 1px solid red;
    display: inline;
}

#upfile {
    display: none;
}

#blk-opcoes {
    background: #1b1e23;
    width: 100%;
    float: left;
    transition: 1s ease;
    -webkit-transition: 1s ease;
}

#opcoes {
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease;
    -webkit-transition: 1s ease;
}

#blk-1, #blk-2, #blk-3,
#blk-4, #blk-5 {
    flex-direction: column;
    display: flex;
    width: 200px;
    float: right;
    padding-bottom: 1em;
}

#blk-1 button, #blk-2 button, #blk-3 button,
#blk-4 button, #blk-5 button {
    padding: 1em 0;
    margin: 8px 0;
}

#opcoes button,
button#btn1,
button#btn2 {
    background: #ffffff;
    color: #1b1e23;
    width: 150px;
    height: 100px;
    margin-right: 3%;
    margin-left: 6.8%;
    font-size: 1em;
}

#botao-funcoes {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

#opcoes button:hover {
    box-shadow: 0 0 10px #ffffff;
}

#texto {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #777777;
    min-height: 250px;
    font-size: 20px;
    text-align: center;
    padding: 1em;
    word-wrap: break-word;
    width: 500px;
}

#btn1,
#btn2 {
    display: flex;
    flex-direction: row;
    min-width: 250px;
    min-height: 57px;
}

#btn1 img,
#btn2 img {
    display: flex;
    width: 30px;
    padding-right: 10px;
}

#btn1 h3,
#btn2 h3 {
    display: flex;
    margin-top: 5px;
}

button#btn1,
button#btn2 {
    max-height: 50px;
    background: none;
    border-radius: 100em;
    color: #777777;
}

button#btn1:hover,
button#btn2:hover {
    box-shadow: 0 0 5px #777777;
}

/* RODAPE */
#footer {
    background: #013243;
    color: #fff;
    width: 100%;
    text-align: center;
    box-shadow: initial 0 0 10px rgba(0, 0, 0, 0.3);
}


#conteudo-footer {
    position: relative;
    width: 450px;
    margin: 0 auto;
    display: inline-block;
}

#footer span#copy {
    display: block;
    padding: 1em 0;
}

#footer-ra {
    width: 75%;
    padding-top: 1em;
    float: left;
    text-align: left;
}

#footer-ra span {
    display: block;
}

#footer-navegacao {
    width: 20%;
    float: right;
    padding: 2em 0;
}

#footer-navegacao ul li{
    list-style: none;
}

#footer-navegacao a{
    color: #fff;
    text-decoration: none;
}

#footer-navegacao a:hover{
    text-decoration: underline;
}

td {
    padding-right: 5px;
}


/* JAVASCRIPT OPÇÕES */
.hide {
    height: 0;
    overflow: hidden;
}

.show-btn {
    border: 2px ridge #777777;
    background-color: #ffffff;
    transition: .2s ease;
    -webkit-transition: .1s ease;
}

#center {
    transition: 1s ease;
    -webkit-transition: 1s ease;
    overflow: auto;
    height: 364px;
}